body{
    font-family: Helvetica, sans-serif;
}
img{
    max-width: 100%;
}
.b-gallery{
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    align-content: space-between;
}
.b-gallery-frame{
    width: 90%;
    height: 300px;
    padding-left: 5%;
    padding-right: 5%;
}
.b-gallery-item{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}
.b-gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.b-text{
    font-size: 10px;
    font-family: Helvetica, sans-serif;
    color: #707072;
    text-align: center;
}
.u-size-40px{
    font-size: 40px;
}
.u-size-20px{
    font-size: 20px;
}
.u-color-black{
    color: black;
}
.u-color-grey{
    color: grey;
}
.header-brand{
    text-align: center;
}
.b-header-search{
    text-align: right;
}
.b-menu-aside{
    position: fixed;
    left: 50px;
	top: 50px;
}
.b-menu-aside-gender{
    list-style-type: none;
}
.u-text-menu-aside{
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.b-menu-aside-pages{
    list-style-type: none;
}
.u-text-alert{
    color: chocolate;
}
.b-aside-cta{
    width: 100%;
    align-content: center;
}
.u-text-allcaps{
    text-transform: capitalize;
}
.u-text-bold{
    font-weight: 800;
}
.b-form-cta{
    align-self: center;
}
.b-text-menu{
    display: flex;
}
.b-header-path-search{
    display: flex;
    position: absolute;
    top: 32px;
    right: 18px;
    align-items: center;
}